PORT = 
MONGO_URI = 
CORS_ORIGIN = *
JWT_SECRET = my_jwt_secret

DB_USER=
DB_USER_PASS=

EMAIL_SERVICE=true
SMS_SERVICE=false

MAIL_MAILER=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=

RASAEL_AUTH_URL=
RASAEL_SEND_URL=https://rahmantak.rasaelapp.com/api/api/Message/Send
RASAEL_USERNAME=
RASAEL_PASSWORD=
RASAEL_DEFAULT_EMAIL=
RASAEL_DEFAULT_LANG=en
RASAEL_PHONE_COUNTRY_CODE=964
RASAEL_PHONE_FORMAT=no_plus

LOW_STOCK_THRESHOLD=
FRONTEND_URL=
BASKET_CARD_ENCRYPTION_KEY=
