PORT = 
MONGO_URI = 
CORS_ORIGIN = *
JWT_SECRET = my_jwt_secret

DB_USER=
DB_USER_PASS=

EMAIL_SERVICE=true

MAIL_MAILER=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=